In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
data = pd.read_csv('Spotify_final_dataset.csv')
data

,Position,Artist Name,Song Name,Days,Top 10 (xTimes),Peak Position,Peak Position (xTimes),Peak Streams,Total Streams
0,1,Post Malone,Sunflower SpiderMan: Into the SpiderVerse,1506,302.0,1,(x29),2118242,883369738
1,2,Juice WRLD,Lucid Dreams,1673,178.0,1,(x20),2127668,864832399
2,3,Lil Uzi Vert,XO TOUR Llif3,1853,212.0,1,(x4),1660502,781153024
3,4,J. Cole,No Role Modelz,2547,6.0,7,0,659366,734857487
4,5,Post Malone,rockstar,1223,186.0,1,(x124),2905678,718865961
...,...,...,...,...,...,...,...,...,...
11079,11080,The Band Perry,If I Die Young,1,0.0,184,0,51321,51321
11080,11081,Justin Timberlake,Not a Bad Thing,1,0.0,196,0,49512,49512
11081,11082,Mike WiLL Made,It 23,1,0.0,167,0,46547,46547
11082,11083,The Vamps,Somebody To You,1,0.0,200,0,44962,44962
11083,11084,JAY,Z Holy Grail,1,0.0,184,0,44323,44323

In [3]:
columns_to_drop = ['Position', 'Days', 'Top 10 (xTimes)', 'Peak Position', 'Peak Position (xTimes)', 'Peak Streams', 'Total Streams']
data.drop(columns=columns_to_drop, inplace=True)

In [4]:
data

              Artist Name                                   Song Name
0            Post Malone   Sunflower  SpiderMan: Into the SpiderVerse
1             Juice WRLD                                 Lucid Dreams
2           Lil Uzi Vert                                XO TOUR Llif3
3                J. Cole                               No Role Modelz
4            Post Malone                                     rockstar
...                   ...                                         ...
11079     The Band Perry                               If I Die Young
11080  Justin Timberlake                              Not a Bad Thing
11081      Mike WiLL Made                                      It  23
11082          The Vamps                              Somebody To You
11083                 JAY                               Z  Holy Grail

[11084 rows x 2 columns]

In [5]:
hot_songs = pd.read_csv('hot_songs.csv')
hot_songs

                                Title                                 Artists
0   Rockin' Around The Christmas Tree                              Brenda Lee
1     All I Want For Christmas Is You                            Mariah Carey
2                    Jingle Bell Rock                             Bobby Helms
3                      Last Christmas                                   Wham!
4             A Holly Jolly Christmas                               Burl Ives
..                                ...                                     ...
95                 El Amor de Su Vida            Grupo Frontera & Grupo Firme
96               Standing Next To You                               Jung Kook
97                     Man Made A Bar     Morgan Wallen Featuring Eric Church
98                           Que Onda  Calle 24 x Chino Pacas x Fuerza Regida
99                       Great Gatsby                                Rod Wave

[100 rows x 2 columns]

In [6]:
data = data.rename(columns={'Artist Name': 'Artists', 'Song Name': 'Title'})
data

                  Artists                                       Title
0            Post Malone   Sunflower  SpiderMan: Into the SpiderVerse
1             Juice WRLD                                 Lucid Dreams
2           Lil Uzi Vert                                XO TOUR Llif3
3                J. Cole                               No Role Modelz
4            Post Malone                                     rockstar
...                   ...                                         ...
11079     The Band Perry                               If I Die Young
11080  Justin Timberlake                              Not a Bad Thing
11081      Mike WiLL Made                                      It  23
11082          The Vamps                              Somebody To You
11083                 JAY                               Z  Holy Grail

[11084 rows x 2 columns]

In [7]:
data.dtypes

Artists    object
Title      object
dtype: object

In [8]:
data.isna().sum()

Artists    0
Title      4
dtype: int64

In [10]:
data.dropna(subset=['Title'], inplace=True)

In [11]:
data

                  Artists                                       Title
0            Post Malone   Sunflower  SpiderMan: Into the SpiderVerse
1             Juice WRLD                                 Lucid Dreams
2           Lil Uzi Vert                                XO TOUR Llif3
3                J. Cole                               No Role Modelz
4            Post Malone                                     rockstar
...                   ...                                         ...
11079     The Band Perry                               If I Die Young
11080  Justin Timberlake                              Not a Bad Thing
11081      Mike WiLL Made                                      It  23
11082          The Vamps                              Somebody To You
11083                 JAY                               Z  Holy Grail

[11080 rows x 2 columns]

In [12]:
def duplicate_remover(df: pd.DataFrame) -> pd.DataFrame:
   
    df2 = df.copy()
    df2 = df2.drop_duplicates()
    return df2

data=duplicate_remover(data)
data

                  Artists                                       Title
0            Post Malone   Sunflower  SpiderMan: Into the SpiderVerse
1             Juice WRLD                                 Lucid Dreams
2           Lil Uzi Vert                                XO TOUR Llif3
3                J. Cole                               No Role Modelz
4            Post Malone                                     rockstar
...                   ...                                         ...
11079     The Band Perry                               If I Die Young
11080  Justin Timberlake                              Not a Bad Thing
11081      Mike WiLL Made                                      It  23
11082          The Vamps                              Somebody To You
11083                 JAY                               Z  Holy Grail

[10941 rows x 2 columns]

In [13]:
data['Artists_lower'] = data['Artists'].str.lower()
data['Title_lower'] = data['Title'].str.lower()
hot_songs['Artists_lower'] = hot_songs['Artists'].str.lower()
hot_songs['Title_lower'] = hot_songs['Title'].str.lower()

In [14]:
filtered_data = data[~((data['Artists_lower'].isin(hot_songs['Artists_lower'])) & (data['Title_lower'].isin(hot_songs['Title_lower'])))]
filtered_data = filtered_data.drop(['Artists_lower', 'Title_lower'], axis=1).reset_index(drop=True)
filtered_data

                  Artists                                       Title
0            Post Malone   Sunflower  SpiderMan: Into the SpiderVerse
1             Juice WRLD                                 Lucid Dreams
2           Lil Uzi Vert                                XO TOUR Llif3
3                J. Cole                               No Role Modelz
4            Post Malone                                     rockstar
...                   ...                                         ...
10936     The Band Perry                               If I Die Young
10937  Justin Timberlake                              Not a Bad Thing
10938      Mike WiLL Made                                      It  23
10939          The Vamps                              Somebody To You
10940                 JAY                               Z  Holy Grail

[10941 rows x 2 columns]

In [15]:
data

,Artists,Title,Artists_lower,Title_lower
0,Post Malone,Sunflower SpiderMan: Into the SpiderVerse,post malone,sunflower spiderman: into the spiderverse
1,Juice WRLD,Lucid Dreams,juice wrld,lucid dreams
2,Lil Uzi Vert,XO TOUR Llif3,lil uzi vert,xo tour llif3
3,J. Cole,No Role Modelz,j. cole,no role modelz
4,Post Malone,rockstar,post malone,rockstar
...,...,...,...,...
11079,The Band Perry,If I Die Young,the band perry,if i die young
11080,Justin Timberlake,Not a Bad Thing,justin timberlake,not a bad thing
11081,Mike WiLL Made,It 23,mike will made,it 23
11082,The Vamps,Somebody To You,the vamps,somebody to you
11083,JAY,Z Holy Grail,jay,z holy grail

#### There is no hot songs in the dataset

In [16]:
data=filtered_data.sample(2500)
data=data.reset_index()
data

      index            Artists              Title
0      7004     Marvin Divine   Barely Legal 2021
1      4265         Bad Bunny     MALDITA POBREZA
2       201        Dan + Shay             Tequila
3      4826            Eminem           Remind Me
4       698       Eartha Kitt          Santa Baby
...     ...                ...                ...
2495   8420          Gorillaz             Momentz
2496   7105      Lana Del Rey               Freak
2497   9771       Kodak Black         Let Me Know
2498   4234  Childish Gambino             V. 3005
2499   5848      Rich The Kid            4 Phones

[2500 rows x 3 columns]

In [ ]:
#data.to_csv("not_hot_songs.csv")